### This is the preview notebook for Lecture 03
<p>   </p>
In this lecture, we will learn about <b>variables</b>, <font color = "red">expressions</font>, and <i>functions</i>. Specifically, you will learn about:<br>
<ol>
    <li>Expressions and how to determine a data type<br>
    <li>Boolean operators in Python<br>
    <li>Variables and variable tracing<br>
    <li>Functions<br>
    <li>Nested Functions<br>
</ol>

In [1]:
# Putting an integer
type(5)

int

In [2]:
# But how about a string?
type("5")

str

In [3]:
# How about a float?
type(5.0)

float

In [5]:
# Some basic examples of a boolean operator
True and False

False

In [6]:
True and True

True

In [7]:
True or False

True

In [8]:
False or False

False

In [9]:
(True and True) or False

True

In [10]:
(True and True) and False

False

In [11]:
# Boolean Comparisons. We can see how certain values evaluate
x = True
y = False
z = True

In [25]:
x = 13
print( x + 5 )

18

In [40]:
# Here, we will show an example of variable tracing
x_trace = 5

In [41]:
x_trace + 1

6

In [42]:
# Student will see x_trace was not updated
print( x_trace )

5

In [43]:
x_trace += 1

In [44]:
# Student will see x_trace was updated by += operation
print( x_trace )

6

In [46]:
# Review exponents as **
x_trace = x_trace ** x_trace
print( x_trace )

46656

In [15]:
# Is x equal to y?
x == y

False

In [16]:
# Booleans with variables
# Is x equal to z?
x == z

True

In [17]:
# Is z equal to x?
z == x

True

In [18]:
# Is z not equal to y?
z != y

True

In [19]:
# Now let's create some integers and perform comparisons
x_int = 5
y_int = 3
z_int = 5

In [20]:
# Is x equal to y?
x_int == y_int

False

In [21]:
# Is x equal to z?
x_int == z_int

True

In [22]:
# Is x greater than y?
x_int > y_int

True

In [23]:
# Is x greater than or equal o z?
x_int >= z_int

True

In [47]:
# Is y greater than or equal o z?
y_int >= z_int

False

In [48]:
# Library Function: Convert Binary to Decimal int
# 101 is 5 in base 2
int('101', 2)

5

In [49]:
int('1101011011',2)

859

In [50]:
# Convert hexadecimal (base 16) to int
int('1b34f6da7',16)

7303294375

In [56]:
# Initial Example of Function calls:
def add_nums( x_input, y_input ):
    return x_input + y_input

In [57]:
def print_sum( x_print, y_print, sum_print ):
    print( 'x = ' + f'{x_print}' + ', y = '+ f'{y_print}' + ", sum = " + f'{sum_print}' )

In [59]:
# Basic Example of Function Operation
x_add = 5
y_add = 6
sum = add_nums( x_add, y_add )
print_sum( x_add, y_add, sum )

x = 5, y = 6, sum = 11

In [61]:
# An example of a common student error.
# Not setting the return value to sum
# Note how sum is still 11, because add_nums *did not update the value*
x_add = 15
y_add = 16
add_nums( x_add, y_add )
print_sum( x_add, y_add, sum )

x = 15, y = 16, sum = 11

In [62]:
# So now let's fix that, shall we?
sum = add_nums( x_add, y_add )
print_sum( x_add, y_add, sum )

x = 15, y = 16, sum = 31

In [63]:
# Now we can call functions inside functions!
x_add = 25
y_add = 26

# Check out how we call this!
# Will execute add_nums first
print_sum( x_add, y_add, add_nums( x_add, y_add ) )

x = 25, y = 26, sum = 51

In [6]:
# Initial Values
val_1 = 78
val_2 = 111
val_3 = 116
val_4 = 114
val_5 = 101

In [7]:
# Get the binary values
binary_1 = bin( val_1 )
binary_2 = bin( val_2 )
binary_3 = bin( val_3 )
binary_4 = bin( val_4 )
binary_5 = bin( val_5 )

In [8]:
# Get the hexadecimal values
hex_1 = hex( val_1 )
hex_2 = hex( val_2 )
hex_3 = hex( val_3 )
hex_4 = hex( val_4 )
hex_5 = hex( val_5 )

In [9]:
# Get the ascii characters
char_1 = chr( val_1 )
char_2 = chr( val_2 )
char_3 = chr( val_3 )
char_4 = chr( val_4 )
char_5 = chr( val_5 )

In [10]:
# Print using the user-defined functions
def print_conversions( int_val, binary_val, hex_val, char_val ):
    print( f'{int_val}' + ': ' + f'{binary_val} ' + f'{hex_val} ' + f'{char_val}')

In [11]:
# Print all results
print_conversions(val_1, binary_1, hex_1, char_1)
print_conversions(val_2, binary_2, hex_2, char_2)
print_conversions(val_3, binary_3, hex_3, char_3)
print_conversions(val_4, binary_4, hex_4, char_4)
print_conversions(val_5, binary_5, hex_5, char_5)

78: 0b1001110 0x4e N
111: 0b1101111 0x6f o
116: 0b1110100 0x74 t
114: 0b1110010 0x72 r
101: 0b1100101 0x65 e

In [12]:
# Use nested functions
# Print all results
print_conversions(val_1, bin( val_1 ), hex( val_1 ), chr( val_1 ))
print_conversions(val_2, bin( val_2 ), hex( val_2 ), chr( val_2 ))
print_conversions(val_3, bin( val_3 ), hex( val_3 ), chr( val_3 ))
print_conversions(val_4, bin( val_4 ), hex( val_4 ), chr( val_4 ))
print_conversions(val_5, bin( val_5 ), hex( val_5 ), chr( val_5 ))

78: 0b1001110 0x4e N
111: 0b1101111 0x6f o
116: 0b1110100 0x74 t
114: 0b1110010 0x72 r
101: 0b1100101 0x65 e

In [13]:
def make_conversions( val_input ):
    print_conversions(val_input, bin( val_input ), hex( val_input ), chr( val_input ))

In [20]:
# Libraries to import interact
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [21]:
interact( make_conversions, val_input=(0,127) )

interactive(children=(IntSlider(value=63, description='val_input', max=127), Output()), _dom_classes=('widget-…

In [52]:
def colored(red, green, blue, text):
    return "\033[38;2;{};{};{}m{} \033[38;2;255;255;255m".format(red, green, blue, text)

In [53]:
notre_blue = colored( 12, 35, 64, 'Notre')
dame_gold = colored( 201, 151, 0, 'Dame')
fighting_green = colored( 10, 131, 64, 'Fighting')
irish_gold = colored( 201, 151, 0, 'Irish')
print( notre_blue + ' ' + dame_gold + ' ' + fighting_green + ' ' + irish_gold )

Notre  Dame  Fighting  Irish