In [6]:
2+2

4

In [7]:
2

2

In [8]:
2 + 3 * 6

20

In [9]:
(2 + 3) * 6

30

In [10]:
48565878 * 578453

28093077826734

In [11]:
# Using ** is an exponent
2 ** 8

256

In [13]:
# Regular Division
23 / 7

3.2857142857142856

In [14]:
# Integer Division 
23 // 7

3

In [15]:
# Modulo (Remainder)
23 % 7

2

In [16]:
# Thought Question: Why 16.0 and not 16?
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

In [25]:
28093077826734 * 578453

16250525148107762502

In [27]:
28093077826734.0 * 578453

1.6250525148107762e+19

In [28]:
'Hello, World'

'Hello, World'

In [31]:
# Deliberate Compiler Error to show a Syntax Error
'Hello, World

SyntaxError: EOL while scanning string literal (776102526.py, line 2)

In [30]:
'Alice' + 'Bob'

'AliceBob'

In [32]:
# Deliberate compiler error to show a type mismatch
'Alice' + 42

TypeError: can only concatenate str (not "int") to str

In [34]:
# Python string replication operator
'Alice' * 5

'AliceAliceAliceAliceAlice'

In [35]:
# Deliberate compiler error to show string replicator mismatch
'Alice' * 'Bob'

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
# Deliberate compiler error to show string replicator *type* mismatch
'Alice' * 5.0

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
# Variables
spam = 40

# Will output 40
spam

40

In [41]:
eggs = 26

# Will output 66
spam + eggs

66

In [48]:
# Python will update spam to string type
# Used to emphasize importance of keeping track of variables
spam = 'Hello'
spam

'Hello'

In [52]:
print('Hello, World')

Hello, World

In [56]:
# Read in and print out!
my_name = input('What is your name? ')
print( 'It is nice to meet you, ' + my_name)

What is your name? Matt Morrison
It is nice to meet you, Matt Morrison

In [57]:
# Print the length of the input string my_name
print(len(my_name))

13

In [58]:
# Trying to put them together, with a deliberate compiler error!
print('The number of characters in your name, ' + my_name + ', is ' + len(my_name))

TypeError: can only concatenate str (not "int") to str

In [59]:
# Fixing the compiler error by converting the integer to a string
print('The number of characters in your name, ' + my_name + ', is ' + str(len(my_name)))

The number of characters in your name, Matt Morrison, is 13